In [4]:
A = matrix(1:16, 4, 4)
print(A)

     [,1] [,2] [,3] [,4]
[1,]    1    5    9   13
[2,]    2    6   10   14
[3,]    3    7   11   15
[4,]    4    8   12   16

In [2]:
# Pick a cell
A[2,3]

[1] 10

In [3]:
# Pick multiple cells using two vectors
A[c(1,3), c(2,4)]

     [,1] [,2]
[1,] 5    13
[2,] 7    15

In [5]:
# Pick rows
A[1:2,]

     [,1] [,2] [,3] [,4]
[1,] 1    5     9   13
[2,] 2    6    10   14

In [7]:
# Pick columns
A[,1:2]

     [,1] [,2]
[1,] 1    5
[2,] 2    6
[3,] 3    7
[4,] 4    8

In [8]:
# Keep all rows or columns except those indicated in index
A[-c(1,3),]

     [,1] [,2] [,3] [,4]
[1,] 2    6    10   14
[2,] 4    8    12   16

In [9]:
# Dimensions of A
dim(A)

[1] 4 4

In [10]:
dim(A[,1:2])

[1] 4 2