In [7]:
# Data, number of rows, number of columns
x=matrix(c(1,2,3,4), 2, 2)

In [8]:
x

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [9]:
# explicit matrix shape
x=matrix(data=c(1,2,3,4), nrow=2, ncol=2)

In [10]:
x

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [11]:
# Order by rows first
matrix(c(1,2,3,4),2,2,byrow=TRUE)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

In [12]:
#operate on matrix
sqrt(x)

     [,1]     [,2]
[1,] 1.000000 1.732051
[2,] 1.414214 2.000000

In [13]:
# Operate on matrix
x^2

     [,1] [,2]
[1,] 1     9
[2,] 4    16