In [1]:
# Read from data file
Auto = read.table("data/Auto.data")

In [3]:
Auto[1:5,]

  V1   V2        V3           V4         V5     V6           V7   V8
1 mpg  cylinders displacement horsepower weight acceleration year origin
2 18.0 8         307.0        130.0      3504.  12.0         70   1
3 15.0 8         350.0        165.0      3693.  11.5         70   1
4 18.0 8         318.0        150.0      3436.  11.0         70   1
5 16.0 8         304.0        150.0      3433.  12.0         70   1
  V9
1 name
2 chevrolet chevelle malibu
3 buick skylark 320
4 plymouth satellite
5 amc rebel sst

In [5]:
# Header = True (Header is in the first row), Represent missing strings with a question mark
Auto = read.table("data/Auto.data", header=T, na.strings="?")

In [7]:
Auto[1:5,]

  mpg cylinders displacement horsepower weight acceleration year origin
1 18  8         307          130        3504   12.0         70   1
2 15  8         350          165        3693   11.5         70   1
3 18  8         318          150        3436   11.0         70   1
4 16  8         304          150        3433   12.0         70   1
5 17  8         302          140        3449   10.5         70   1
  name
1 chevrolet chevelle malibu
2 buick skylark 320
3 plymouth satellite
4 amc rebel sst
5 ford torino

In [10]:
Auto = read.csv("data/Auto.csv", header=T, na.strings="?")

In [11]:
dim(Auto)

[1] 397   9

In [12]:
Auto=na.omit(Auto)
dim(Auto)

[1] 392   9

In [13]:
names(Auto)

[1] "mpg"          "cylinders"    "displacement" "horsepower"   "weight"
[6] "acceleration" "year"         "origin"       "name"